<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="localhost" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=eCommerce;Integrated Security=True" />
	  <add name="unittest" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=master;Integrated Security=True" />
  </connectionStrings>
</configuration>